
body{
    background-image: url("map.png");
    background-size: auto 100vh;
    background-position: center;
    background-repeat: repeat-x;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10vw 80vw;
}

/* база */
#base{
    background-color: white;
    min-height: 100vh;
    grid-column-start: 2;
    display: none;
    grid-template-columns: auto 1fr;
}

/* линия(шапка) */
#line{
    min-height: 100vh;
    min-width: 200px;
    max-width: 240px;
    font-size: 20px;
    background-color: #827717;
    
}

#line > input[type="submit"] {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    color: white;
    display: block;
    padding: 3%;
}

#line > input[type="submit"]:hover{
    text-shadow: 0 0 15px rgb(247, 255, 89), 0 0 10px #827717;
    transition: all 0.3s ease-out;
    margin: 0;
}

#username2{
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    color: white;
    font-size: 17px;
    max-width: 75%;
    border: none;
    outline: none;
}

#us:hover, #us:focus{
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transition: all 1s ease-out; 
}

#us{
    background-color: rgba(255, 255, 255, 0.486);
    max-width: 100%;
    display: grid;
    grid-template-columns: 84% auto;
}

#search{
    font-size: 20px;
    width: 30px;
    height: 35px;
    
}
#search input{
    border: 0;
    padding: 5px;
}
#search:hover, #us:hover #search2{
    cursor: pointer;
}

#us:focus, #us:hover{
    color: #C0CA33;
    transition: all 0.3s ease-out;
}

#line{
    padding: 3%;
    color: white;
}

#hello{
    padding: 3%;
    padding-bottom: 10%;
    margin: 0;
    color: white;
    font: 400 Arial;
}

/* вход */
#auth{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: rgb(50, 62, 35);
    padding: 5%;
    text-align: center;
    width: auto;
    height: auto;
}

#auth p{
    font-size: 30px;
    color: rgb(55, 63, 48);
    margin-top: 15px; 
    margin-bottom: 3px;
}

#auth input{
    margin: 10px;
    color: rgb(55, 63, 48);
    padding: 8px;
    font-size: 25px;
    background: #e4f07c;
    border: none;
    border-radius: 0;
    outline: none;
    text-align: center;
}

input[type="submit"]{
    border: 0;
    cursor: pointer;
    color: #F9FBE7;
    font-size: 20px;
    padding: 6px;
    background-color: #827717;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

/* панель */
#panel{
    min-width: 500px;
}

#hide{
    display: none;
}

::-webkit-input-placeholder {color:#F9FBE7;}
::-moz-placeholder          {color:#F9FBE7;}/* Firefox 19+ */
:-moz-placeholder           {color:#F9FBE7;}/* Firefox 18- */
:-ms-input-placeholder      {color:#F9FBE7;}

/* карта */
#map{
    display: none;
    width: auto;
    height: 100%;
    min-height: 500px;
}

/* данные в таблице */
#data{
    font-size: 20px;
}

table{
    border: 2px solid white;
    border-spacing: 0;
    table-layout: auto;
    text-align: center;
    width: 100%;
    background-color: #e4f07c;
}

th{
    background: #827717;
    width: auto;
}

td, th{
    border-collapse: collapse;
    border: 1.5px solid white;
    padding: 2%;
}

.mapUser{
    display: inline-block;
    padding: 1%;
    font-size: 20px;
    margin: 1%;
    background-color:#9E9D24;
    color: #827717;
    color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.user:hover, .mapUser:hover{
    cursor: pointer;
}

.user:hover{
    background: #D4E157;
    transition: all 0.3s ease-out;
}

#error{
    position: fixed;
    z-index: 1;
    bottom: 7%;
    right: 7%;
    background-color: #D4E157;
    box-shadow: 0 0 15px black;
    padding: 3%;
    display: none;
}

@media all and (max-width: 992px){
    body{
        grid-template-columns: 0 100%;
    }
}

@media all and (max-width: 768px){
    #base{
        grid-template-columns: auto;
        grid-template-rows: 5vh auto;
    }
    #hello{
        display: none !important;
    }
    #line{
        display: grid !important;
        grid-template-rows: 5vh;
        max-width: 100%;
        grid-template-columns: repeat(3,auto);
        margin: 0;
    }
}

@media all and (max-width: 480px){
    #hide{
        display: block;
    }
}