body{
    font-family: 'head';
    background-color: #c3c7ad;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 10vw 80vw;
}

#base{
    background-color: white;
    height: 100vh;
    grid-column-start: 2;
}

#line{
    height: 40%;
    background-color: #D4E157;
}

#hello{
    padding: 5vh;
    margin-left: 7%;
    padding-left: 0;
    color: white;
    display: none;
    text-shadow: 2px black;
    font-size: 30px;
}

#hello > input{
    display: inline-block;
    margin: 1%;
}

#username2{
    background-color: #D4E157;
}

#aut{
    z-index: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

    /* position: absolute;
    top: 20%; */
}

#auth{
    background-color:#F9FBE7;
    color: rgb(50, 62, 35);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    padding: 5%;
    text-align: center;
    width: auto;
    height: auto;
    grid-column-start: 2;
}

#auth p{
    font-size: 20px;
    color: #827717;
    margin-top: 15px; 
    margin-bottom: 3px;
}

input[type="text"], input[type="password"]{
    color: #827717;
    
    padding: 8px;
    font-size: 20px;
    background-color:#F9FBE7;
    border: 0;
    border-bottom: 1.2px #C0CA33 solid;
    border-radius: 0;
    outline: none;
    text-align: center;
}

input[type="text"]:focus, input[type="text"]:hover, input[type="password"]:focus, input[type="password"]:hover{
    border-bottom: 1.5px #827717 solid;
    transition: border-bottom 0.3s ease-out;
}

input[type="submit"]{
    border: 0;
    cursor: pointer;
    color: #F9FBE7;
    font-size: 20px;
    padding: 6px;
    background-color: #827717;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

#panel{
    display: none;
}

::-webkit-input-placeholder {color:#F9FBE7;}
::-moz-placeholder          {color:#F9FBE7;}/* Firefox 19+ */
:-moz-placeholder           {color:#F9FBE7;}/* Firefox 18- */
:-ms-input-placeholder      {color:#F9FBE7;}

#username2{
    text-align: left;
}

#data{
    white-space: pre-line;
    margin: 7%;
    margin-top: 3%;
    font-size: 20px;
    color: #827717;
}

.user{
    display: inline-block;
    padding: 1%;
    font-size: 20px;
    margin: 1%;
    background-color:#9E9D24;
    /* border-radius: 7px; */
    color: #827717;
    color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.user:hover{
    cursor: pointer;
}

#error{
    position: fixed;
    z-index: 1;
    bottom: 7%;
    right: 7%;
    background-color: #D4E157;
    padding: 3%;
    display: none;
}

@media all and (max-width: 992px){
    
    /* #auth{
        left: 20vw;
    } */
    body{
        grid-template-columns: 0 100vw;
    }
}

@media all and (max-width: 768px){
    *{
        font-size: 22px !important;
    }
    
}

@media all and (max-width: 480px){
    #auth{
        left: -5%;
        right: 0;
        width: 100vw;
    }
    *{
        font-size: 19px !important;
    }
}