body{
    /* background-image: url("../road.jpg"); */
    background: #89b4ad;
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10vw 80vw;
}

#base{
    background-color: #f0f3dc;
    min-height: 100vh;
    grid-column-start: 2;
    display: none;
    grid-template-columns: auto 1fr;
    margin: 0;
    padding: 0;
}

#panel{
    min-width: 500px;
}

#error{
    position: fixed;
    z-index: 1;
    bottom: 7%;
    right: 7%;
    background-color: #4e7934;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    color: white;
    padding: 3%;
    display: none;
}

#preloader{
    font-size: 20px;
    padding: 20%;
    color: #0e4040;
    margin: 0;
    text-align: center;
}