
@media all and (max-width: 992px){
    body{
        grid-template-columns: 0 100%;
    }
    #auth input, #auth p{
        font-size: 25px;
        margin: 10px;
    }
}

@media all and (max-width: 768px){
    #base{
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
    }
    #hello{
        display: none !important;
    }
    #line{
        display: grid !important;
        grid-template-rows: 36px;
        max-width: 100vw !important;
        min-height: auto !important;
        grid-template-columns: repeat(3,auto);
        margin: 0;
        padding: 7px !important;
    }
    .sidebarBut{
        
        /* width: 20px; */
        /* height: auto; */
        margin: 0 !important;
    }
    #us{
        margin: 0 !important;
        margin-right: 7px !important;
    }
}

@media all and (max-width: 480px){
    #hide{
        display: block;
    }
    #auth input{
        font-size: 20px;
        width: 70vw;
    }
}