#line{
    min-height: 100vh;
    min-width: 170px;
    max-width: 240px;
    font-size: 20px;
    background-color: #76b151;
    padding: 3%;
}

#line *{
    color: white;
    font-size: 20px;
}

.sidebarBut {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    color: white;
    display: block;
    padding: 0;
    margin: 10px;
    border: 0;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.sidebarBut:hover{
    text-shadow: 0 0 15px rgb(254, 255, 229), 0 0 10px #80da44;
    transition: all 0.3s ease-out;
}

#username2{
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    max-width: 75%;
    border: none;
    outline: none;
    padding: 5px;
}

#username2::-webkit-input-placeholder {color:rgb(245, 245, 245);}

#us{
    background-color: rgba(255, 255, 255, 0.486);
    max-width: 100%;
    display: grid;
    grid-template-columns: 84% auto;
    margin-left: 10px;
    margin-right: 10px;
}

#us:hover, #us:focus{
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transition: all 1s ease-out;
    color: #C0CA33;
    transition: all 0.3s ease-out;
}

#search{
    font-size: 20px;
    width: 30px;
    height: 35px;
}

#search input{
    border: 0;
    padding: 7px;
}

#search:hover, #us:hover #search2{
    cursor: pointer;
}

#hello{
    padding: 10px;
    margin: 0;
}

#hide{
    display: none;
}