/* карта */
#map{
    display: none;
    width: auto;
    height: auto;
    min-height: 500px;
}

/* данные в таблице */
#data{
    font-size: 20px;
    color: #0e4040;
}

#data p{
    margin: 15px;
    padding: 0;
}

.bigData, .change{
    background: #89b4ad;
    border: none;
    color: #0e4040;
    cursor: pointer;
}

table{
    border: 2px solid #f0f3dc;
    border-spacing: 0;
    table-layout: auto;
    text-align: center;
    width: 100%;
    background-color: #cde7de;
    /* overflow: hidden; */
}

th{
    background: #89b4ad;
    color: white;
    width: 100%;
}

td, th{
    border-collapse: collapse;
    border: 1.5px solid #f0f3dc;
    padding: 2%;
    overflow: hidden;
}

.mapUser{
    display: inline-block;
    padding: 1% !important;
    font-size: 20px;
    margin: 1% !important;
    background-color:#4e7934;
    color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.user:hover, .mapUser:hover{
    cursor: pointer;
}

.user:hover{
    background: #abdbd2;
    transition: all 0.3s ease-out;
}